/* ------ Fonts ------ */

// Families
$text-ff: 'Roboto', sans-serif;
$heading-ff: 'Jost', sans-serif;


/* ------ Border ------ */

// Radius
$br: 1.875rem;


/* ------ Vuetify Global's ------ */
$body-font-family: $text-ff;
$heading-font-family: $heading-ff;
$container-max-widths: (
    'xl': 1320px
);

@import '~vuetify/src/styles/styles.sass';